<%= render 'devise/shared/sidemenu', user: @user %>


<h2>Books</h2>

<div>
  <% @books.each do |book| %>
    <%= link_to user_path(@user) do %>
      <p><%= image_tag @user.get_profile_image(100, 100) %></p>
    <% end %>
    <p>Title : <%= link_to book.title, book_path(book.id) %></p>
    <p>Opinion : <%= book.body %></p>
  <% end %>
</div>



